<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Css Page -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Fancy Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!-- Regular Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Banner -->
    <div class="bannerContainer">
    <!-- Navbar -->
        <div class="navbarContainer">
            <div class="navbarList">
                <a href="/albums" class="navItem">Albums</a>
                <a href="/chat" class="navItem">Chat</a>
            </div>
        </div>
    <!-- title -->
        <div class="titleContainer">Tame Impala</div>
    <!-- button -->
        <button class="artistBioButton">
            <a class="artistToursText" href="https://official.tameimpala.com/">Tour Dates</a>
        </button>
    </div>


    <!-- Top Album Images -->
    <div class="topAlbumsText">Top Albums</div>
    <div class="topAlbumsContainer">
        <div class="topAlbumItem"><img class="topAlbumImage" src="/images/currents.png" alt=""></div>
        <div class="topAlbumItem"><img class="topAlbumImage" src="/images/theslowrush.png" alt=""></div>
        <div class="topAlbumItem"><img class="topAlbumImage" src="/images/innerspeaker.png" alt=""></div>
    </div>
    <!-- Album Titles Text -->
    <div class="topAlbumsContainer">
        <div class="topAlbumDescription"><b> Currents </b></div>
        <div class="topAlbumDescription"><b> Slow Rush </b></div>
        <div class="topAlbumDescription"><b> InnerSpeaker </b></div>
    </div>
    <!-- View Album Texts -->
    <div class="topAlbumsContainer">
        <div class="topAlbumView">view</div>
        <div class="topAlbumView">view</div>
        <div class="topAlbumView">view</div>
    </div>


    <!-- Color Divider -->
    <!-- <div class="colorDivider1"></div>
    <div class="colorDivider2"></div>
    <div class="colorDivider3"></div> -->


    <!-- Artist Bio -->
    <div class="bioTitle">Reality In Motion</div>
    <div class="bioContainer">
        <div class="artistBio">Tame Impala is the psychedelic music project of Australian multi-instrumentalist Kevin Parker. In the recording studio, Parker writes, records, performs, and produces all of the project's music. As a touring act, Tame Impala consists of Parker (guitar, vocals), Dominic Simper (guitar, synthesiser), Jay Watson (synthesiser, vocals, guitar), Cam Avery (bass guitar, vocals), and Julien Barbagallo (drums, vocals). The group has a close affiliation with fellow Australian psychedelic rock band Pond, sharing members and collaborators, including Nick Allbrook, formerly a live member of Tame Impala. Originally signed to Modular Recordings, Tame Impala is now signed to Interscope Records in the US and Fiction Records in the UK. Parker originally conceived the project in Perth in 2007. After a series of singles and EPs, Tame Impala's debut studio album, Innerspeaker, was released in 2010; it was certified gold in Australia and well received by critics. Parker's 2012 follow-up, Lonerism, was also acclaimed, reaching platinum status in Australia and receiving a Grammy Award nomination for Best Alternative Music Album. Tame Impala's third album, Currents, was released in July 2015, and like its predecessor, it won ARIA Awards for Best Rock Album and Album of the Year. Parker won the APRA Award for Song of the Year 2016 for Currents' first track, "Let It Happen". The fourth studio album, The Slow Rush, was released on 14 February 2020. At the 2020 ARIA Music Awards, the group won five trophies.</div>
        <div class="artistPhotos">
            <img class="bioPic" src="/images/tame_impala_bio_pic.jpg" alt="">
        </div>
    </div>


    <!-- View Dico Banner -->
    <div class="viewDicoBanner">
        <div class="discoBannerImage">
            <a href="/albums" class="viewDiscoText">View Discography</a>
        </div>
    </div>


    <!-- footer -->
    <div class="footerContainer">
            <div class="footerTitle">Tame Impala</div>
            <div class="footerTitle2">Information Citing</div>
        <div class="footerBottomTextContainer">
            <div class="footerRight">
                <a class="footerText" href="https://en.wikipedia.org/wiki/Tame_Impala">Tame Impala Bio</a>
                <a class="footerText" href="https://en.wikipedia.org/wiki/Innerspeaker">InnerSpeaker</a>
                <a class="footerText" href="https://en.wikipedia.org/wiki/Lonerism">Lonerism</a>
                <a class="footerText" href="https://en.wikipedia.org/wiki/Live_Versions#:~:text=Live%20Versions%20%20%20%20No.%20%20,%20%202%3A56%20%206%20more%20rows%20">Live Versions</a>
                <a class="footerText" href="https://en.wikipedia.org/wiki/Currents_(Tame_Impala_album)">Currents</a>
                <a class="footerText" href="https://en.wikipedia.org/wiki/The_Slow_Rush">The Slow Rush</a>
            </div>
        </div>
    </div>
</body>
</html>